.about__container {
    display: grid;
    grid-template-columns: 32% 50%;
    gap: 14%;
    justify-content: end; 
}
.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background:linear-gradient(45deg,transparent,var(--color-primary),transparent);
    display: grid;
    place-items: center;
 }
 
 .about__me-Image{
    border-radius: 2rem;
    overflow:hidden ;
    transform: rotate(10deg);
    transition:all 400ms ease;
 }
 
 .about__me-Image:hover{
    transform: rotate(0);
 }
 .about__cards{
      display: grid;
      grid-template-columns:repeat(3,1fr);
      gap: 1.5rem;
 }
 .about__card{
   background:var(--color-bg-variant);
   border:1px solid transparent;
   border-radius: 1rem;
   padding: 2rem;
   text-align: center;
   transition:all 300ms ease;
 }

.about__card:hover{
   background:transparent;
   border-color: var(--color-primary-variant);
   cursor:default;
}
.about_icon{
   color: var(--color-primary);
   font-size: 1.4rem;
   margin-bottom: 1rem;
}

.about__card h5{
   font-size: 0.95rem;
}
.about__card small{
  font-size: 0.7rem;
  color: var(--color-light);
}
.about__contact p{
   margin: 2rem 0 2.5rem;
   color: var(--color-light);
}

@media screen and (max-width:1024px){
   .about__container{
      grid-template-columns: 1fr;
   }
   .about__me{
      width: 50%;
      margin: 2rem auto 4rem;
   }
   .about__contact p{
      margin: 1rem 0 1.5rem;
   }
   section{
      margin-top:-5rem;
    }
  .about__container {
   display: grid;
   grid-template-columns: 85% 44%;
   gap:0%;
   justify-content: end;
   align-items: center;
}
}

@media screen and (max-width:640px){
   .about__me{
      width: 62%;
      margin:0 auto 3rem;
   }
   img {
      position: relative;
      width: 62%;
      object-fit: cover;
      left: 3rem;
  }
   .about__contact p {
      margin: 4rem 6px 2.5rem;
  }

  .about__container {
   gap:0%;
   display: flex;
  }
  section {
   height: 125vh;
  }
   .about__cards{
      gap: 1rem;
   }
   .about__contact{
      text-align: center;
   }
   .about__contact p {
      margin: 4.5rem 4px;
  }
} 
