.container.contact__container{
  width: 58%;
  display: grid;
  grid-template-columns:38% 58%;
  gap: 12%;
  margin: 0 15rem;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
} 

.contact__option{
    background: var(--color-bg-variant);
    padding:1.2rem;
    border-radius:1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: all 300ms ease;
}
.contact__option-Icon{
    font-size: 1.5rem;
    margin-bottom:0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.contact__option:hover{
    background: transparent;
    border-color:var(--color-primary-variant);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background:transparent;
    border: 2px solid var(--color-primary-variant);
    resize:none;
    color:white;
}

@media screen and (max-width:1024px){
    .container.contact__container{
        grid-template-columns:1fr;
        gap:2rem;
    }
    .contact__options,form {
        position: relative;
        right: 3rem;
    }

}

@media screen and (max-width:640px){
    .container.contact__container{
        width: var(--container-width-sm);
    }
    .experience__container {
        gap: 1rem;
        position: relative;
        right: 9rem;
    }
    .experience__container>div {
        width: 68%;
        padding: 1rem 1rem;
        margin: 0px 5rem;
    }

    section {
        height: 115vh;
    }
    .contact__options, form {
        position: relative;
        right: 11rem;
    }
}

