header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    height: 45%;
    position: relative;
    text-align: center;
}
.CTA{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.header__socials{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    gap: 0.8rem;
    left: 15rem;
    bottom: -17.5rem;
}
.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

.me{
    width: 25rem;
    height: 37rem;
    position: absolute;
    left: calc(50% - 11rem);
    border-radius: 8rem 10rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 11.5rem 0.5rem;

}
.scroll__down{
    position:absolute;
    right: 5.5rem;
    bottom: -15rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size:0.9rem;
}

@media screen and (max-width:1024px) {
    header{
        height:68vh;
    }
    .header__socials {
        left: 6rem;
        bottom: -12rem;
    }
    .scroll__down {
        position: absolute;
        right: 1.5rem;
        bottom: -11rem;
        transform: rotate(90deg);
        font-weight: 300;
        font-size: 0.9rem;
    }

}

@media screen and (max-width:640px) {
    header{
        height: 100vh;
    }
    h1{
        font-size: 1.3rem;
    }
    .header__socials,.scroll__down{
        display: none;
    }
    .header__container {
        height: 45%;
    }
    .header__container {
        right:1rem;
    }
    
}


